@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

$Soft-blue: hsl(215, 51%, 70%);
$Cyan: hsl(178, 100%, 50%);
$Very-dark-blue-main-BG: hsl(217, 54%, 11%);
$Very-dark-blue-card-BG: hsl(216, 50%, 16%);
$Very-dark-blue-line: hsl(215, 32%, 27%);
$White: hsl(0, 0%, 100%);

main{

    font-family: 'Outfit';

    p {
        font-size: 18px;
        font-weight: 300;
    }
}

.container{
    background-color: $Very-dark-blue-main-BG;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    .card{
        width: 320px;
        height: 550px;
        background-color: $Very-dark-blue-card-BG;
        border-radius: 10px;

        .card-image{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 20px;
            height: 55%;
            width: 100%;

            .image-equilibrium{
                display: block;
                height: 100%;
                width: 86%;
                border-radius: 10px;
            }

            .overlay {
                display: none;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 20px;
                left: 21px;
                width: 87%;
                height: 93%;
                background-color: rgba(0,255,247, 0.5);
                border-radius: 10px;
            }

        }

        .card-body{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            line-height: 0.6cm;

            .card-title{
                color: $White;
                font-weight: 600;
            }

            .card-text{
                color: $Soft-blue;
            }

            .price{
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .eth{
                    color: $Cyan;
                    font-weight: 400;
                }

                .days-left{
                    color: $Soft-blue;
                }
            }

            .dividing-line{
                color: $Very-dark-blue-line;
                margin: 0px 5px 10px 4px;
            }

            .nft-creator{
                display: flex;
                flex-direction: row;
                align-items: center;
                color: $Soft-blue;

                .image-avatar{
                    width: 30px;
                    border: solid white 1px;
                    border-radius:50%;
                }

                .creator {
                    padding-left: 10px;
                    font-size: 15px;

                    .creator-name{
                        color: $White;
                    }
                }

                
            }
        }

        
    }
}
